node_modules/
npm-debug.log
yarn-error.log

logs/
*.log
*.log.*

jspm-packsges/
bower_components/

.env
config.env

dist/
build/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sin
.DS_Store
Thumbs.debug
*.swp
*.bak
*.tmp
*.orig
*.rej
*.sublime-project
*.sublime-workspace